<h3>Английский клуб в&#160;&#171;Балтике&#187;</h3>
<p><a href="./libs/serguei-eaststreet/img/sprite-serguei/serguei-watch-movies-1024x1024.jpg" class="img-lightbox-link"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20512 512%27%2F%3E" rel="lightbox" data-src="./libs/serguei-eaststreet/img/sprite-serguei/serguei-watch-movies-512x512.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a></p>
<p>Cмотрите ожидаемые премьеры на&#160;языке оригинала!</p>
<p>Кинопоказы проходят в 20:30&#160;по&#160;воскресеньям и в 20:00&#160;по&#160;понедельникам. В&#160;некоторые дни проводятся встречи киноклуба с&#160;обсуждением фильма после его просмотра с&#160;носителями английского&#160;языка.</p>
<p>На показы в&#160;рамках <a href="http://kino-baltika.ru/repertoire/timetable/">&#171;Английского клуба&#187;</a> действует специальная стоимость билетов&#160;&#8212; 250&#160;рублей!</p>
<p>Билеты можно приобрести <a href="https://yandex.ru/maps/-/CZcIU-Zv">в&#160;кассах кинотеатра</a>, <a href="http://kino-baltika.ru/repertoire/timetable/">на&#160;сайте</a> и&#160;через <a href="http://kinosfera-imax.ru/news/mobilnoe-prilozhenie">мобильное приложение</a>.</p>
<p><a href="https://yandex.ru/maps/org/baltika/1257064489/">Адрес: ТРЦ &#171;Калейдоскоп&#187;. г.&#160;Москва, ул.&#160;Сходненская, д. 56, 3&#160;этаж&#160;(м.&#160;Сходненская)</a></p>
<p>Администратор кинотеатра: <a href="tel:+74956041680">+7&#160;(495)&#160;604-16-80</a></p>
<p class="address"><a href="http://kino-baltika.ru/">kino-baltika.ru</a></p>
<h3>&#171;35мм&#187;: Это надо видеть</h3>
<p>Где еще смотреть прекрасные фильмы без перевода, и&#160;фестивали, которых нигде нет больше&#8230;</p>
<p><a href="https://yandex.ru/maps/org/kinoteatr_35_mm/1064847172/">Адрес: Москва, ул.&#160;Покровка, 47&#160;/ 24&#160;(м.&#160;Курская, м.&#160;Красные ворота)</a></p>
<p>Касса: <a href="tel:+79654236033">+7&#160; (965)&#160;423-60-33</a></p>
<p class="address"><a href="http://www.kino35mm.ru/">kino35mm.ru</a></p>
